@{
    ViewBag.Title = "Flight Manager";
}


<div class="form-inline">
    <div class="checkbox">
        <button type="submit" id="generateFlights" class="btn btn-primary">Generate Flight</button>
    </div>
</div>
