@{
    ViewBag.Title = "Home Page";
}
@model SoftwareEngineeringP1.Models.SearchPageForm
    
<div id="flightViewContainer"></div>
<form method="post" id="searchForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-inline">
                <div class="form-group">
                    Country: 
                    <input type="text" Name="Country" placeholder="Country" class="form-control"/>
                </div>
                <div class="form-group">
                    Start City:
                    <input type="text" class="form-control" id="st-flight" Name="StartCity" placeholder="Start Location"/>
                </div>
                <div class="form-group">
                    Destination City:
                    <input type="text" class="form-control" id="dt-flight" Name="DestinationCity" placeholder="Destination"/>
                </div>
                <div class="checkbox">
                    <button type="submit" id="searchFlights" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>
<br/>
<div id="resultsTable">
</div>
@* This is a section for building scripts for the page. These are loaded at the end so JQuery is already loaded. *@
@section scripts {

    <script type="text/javascript">

        // This should be checked for correctness. 
        $(document).ready(function () {

            // Ajax method that calls the searching method, and repopulates the results of the table. 
            $('#searchFlights').on('click', function (event) {
                event.preventDefault();
                $.ajax({
                    url: "/Home/SearchFlights",
                    data: $("#searchForm").serialize(),
                    method: "POST",
                    success: function(result) {
                        $('#resultsTable').html(result);
                    }
                });
            });
        });
    </script>
}